/*RESETEO*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*ESTILOS DE LA SECCION HEADER__CABECERA*/
/*ESTILOS DE LA SECCION HEADER__CABECERA*/
.header__cabecera {
  grid-area: header__cabecera;
  background-color: rgba(152, 145, 132, 0.398);
  width: 100vw;
  height: auto;
  position: relative;
  top: 0%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
}
.header__cabecera .logo__img {
  background-color: none;
  grid-area: logo__img;
  width: auto;
  height: auto;
  margin-left: 0% auto;
  padding: 0%;
  position: absolute;
  left: 2vw;
  z-index: 1;
  margin-bottom: 0vh;
}
.header__cabecera .logo__img img {
  border: 1px solid black;
  background-color: black;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  z-index: 1;
  animation-duration: 10s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
.header__cabecera .logo__img img:hover {
  transform: scale(1.01);
  border-color: orange;
}
.header__cabecera h1 {
  text-align: center;
  width: auto;
  height: auto;
  text-align: center;
  font-style: oblique;
  font-family: "Smokum", cursive;
  font-size: auto;
  margin-top: 0vh;
  margin-bottom: 6vh;
  z-index: 2;
}
.header__cabecera h1 a {
  color: orange;
  background-color: black;
  border-left: 5px solid orange(255, 255, 96);
  border-bottom: 3px solid orange;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 6vh;
  margin-bottom: 6vh;
  width: auto;
  height: auto;
  padding: 1%;
  margin: 2%;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
.header__cabecera h1 a:hover {
  color: rgb(178, 179, 177);
  background: black;
  transform: scale(1.02);
}

.header__cabecera alt {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 3%;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*ESTILOS DEL GRID*/
.container__general {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  gap: 0% 0%;
  grid-auto-flow: row;
  grid-template-areas: "logo__img logo__img logo__img" "header__cabecera header__cabecera header__cabecera" "nav__menu nav__menu nav__menu" "main main main" "aside__publicidad aside__publicidad aside__publicidad" "section1 section2 section3" "footer__propio footer__propio footer__propio";
}

.container__general {
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
  background-color: none;
}
.container__general alt {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 3%;
}

/*ESTILO DE LA SECCION NAV__MENU*/
.nav__menu {
  grid-area: nav__menu;
  background-image: url(../img/cielo.jpg.jpg);
  background-size: cover;
  position: relative;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  width: 100vw;
  height: auto;
  padding: 5%;
  margin-left: 0% auto;
  background-color: rgba(245, 245, 245, 0.265);
  transition: background-color, 3s;
}
.nav__menu:hover {
  background-color: rgba(8, 8, 8, 0.265);
}
.nav__menu nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-left: 0% auto;
  width: -moz-min-content;
  width: min-content;
  height: auto;
  padding: auto;
}
.nav__menu nav__ul nav__li {
  width: -moz-min-content;
  width: min-content;
  height: auto;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}
.nav__menu .nav__btn {
  width: auto;
  height: auto;
  border: 5px solid rgba(255, 0, 0, 0);
}
.nav__menu .nav__btn .nav__span {
  color: #fbf5f5;
  font-size: 1rem;
}

.form__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  width: -moz-min-content;
  width: min-content;
  margin-left: 0 auto;
}
.form__nav .input__nav {
  width: -moz-min-content;
  width: min-content;
  text-align: center;
}

/*INCIO DE ESTILO DE SECCION MAIN*/
.main {
  grid-area: main;
  background-color: rgba(152, 145, 132, 0.768);
  margin-left: 0% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
}
.main .carrusel__propio__hombres {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: auto;
  width: 100vw;
  background-color: rgba(129, 125, 120, 0.47);
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.main .imagenes__carrusel__hombres img {
  height: 400px;
  width: 400px;
  margin-left: 0% auto;
}
.main .imagenes__carrusel__hombres img .carrusel__propio__contenido__hombres {
  height: auto;
  width: 100vw;
  text-align: center;
  margin-left: 0vw;
}
.main .descripcion__carrusel__hombres {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.main .descripcion__carrusel__hombres .title__carrusel__hombres {
  color: orange;
  background-color: rgba(7, 7, 7, 0.454);
  width: -moz-max-content;
  width: max-content;
  padding: 1%;
  margin-left: 0% auto;
  position: relative;
  top: 0vh;
}
.main .descripcion__carrusel__hombres .text__carrusel__hombres {
  color: orange;
  background-color: rgba(7, 7, 7, 0.454);
  width: -moz-max-content;
  width: max-content;
  padding: 1%;
  margin-left: 0% auto;
  position: relative;
  bottom: 0vh;
}
.main .title__ofertas {
  color: rgb(0, 0, 0);
  margin-left: 0 auto;
  text-align: center;
  width: 100vw;
  padding: 5%;
  background-color: rgb(255, 255, 255);
  font: 1rem;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.main .cuenta {
  display: inline-block;
  text-align: center;
  justify-content: center;
  justify-items: center;
  width: 99vw;
  height: auto;
  margin-left: 0% auto;
  background-color: #8d8989;
  padding: 5%;
  margin-top: 5vh;
  margin-bottom: 0vh;
}
.main .cuenta .crear__cuenta__text {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 166, 0, 0.7490196078);
  font-size: 1.1rem;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  margin-left: 0% auto;
  margin-bottom: 10px;
  position: relative;
}
.main a {
  padding: 2%;
  color: rgb(243, 245, 241);
  background-color: black;
  text-decoration: none;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  border-radius: 10px;
  color: rgb(254, 255, 255);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.main .crear__cuenta__link,
.main .iniciar__seccion__link {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  color: rgb(237, 235, 235);
}
.main .crear__cuenta__link:hover,
.main .iniciar__seccion__link:hover {
  color: orange;
}
.main .main__galeria {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100vw;
  background: none;
}
.main .main__galeria .title__secciones__internas {
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: #ffa500;
  text-align: center;
  background-color: #100f0f;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  width: 100vw;
  height: auto;
  padding: 3%;
  margin-left: 0 auto;
}
.main .main__galeria .galeria__card {
  text-align: center;
  margin: 0px auto;
  padding: auto;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
.main .main__galeria img {
  margin: 0px auto;
  width: 320px;
  height: 320px;
  padding: auto;
  border-left: 3px gray solid;
  border-bottom: 5px gray solid;
  border-radius: 50px;
  transition: border 0s;
}
.main .main__galeria img:hover {
  border-color: orange;
}
.main .main__galeria .card__contenido {
  margin: 0% auto;
  height: auto;
  width: auto;
}
.main .main__galeria .card__contenido .tittle_card {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1764705882);
  border-radius: 50px;
  width: 100px;
  padding: 0vw;
  font-size: 1rem;
  text-align: center;
  margin-top: 2vh;
}
.main .main__galeria .card__contenido .card__text {
  font-size: auto;
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  border-bottom: 5px solid #8e8e8e;
  border-left: 3px solid #8e8e8e;
  border-radius: 20px;
  padding: 1%;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.main .main__galeria .card__contenido .card__precio {
  width: auto;
  background-color: rgb(253, 253, 253);
  border-bottom: 5px solid #8e8e8e;
  border-left: 3px solid #8e8e8e;
  border-radius: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: rgb(8, 8, 8);
  margin-bottom: 2vh;
  border-top: 2vh;
  font-size: bold;
}
.main .introduccion__registro {
  background-color: rgba(152, 145, 132, 0.989);
}
.main .introduccion__registro .tittle__introduccion {
  margin-top: 10vh;
  text-align: center;
  color: orange;
  background-color: #1a1717;
  width: -moz-max-content;
  width: max-content;
  margin-left: 1%;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.5rem;
  padding: 5px;
}
.main .introduccion__registro p {
  color: #fff4f4;
  text-align: justify;
  margin: 5vh;
  padding: 3%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: black;
}
.main .subtittle__nosotros {
  color: #000000;
  background-color: rgba(205, 56, 56, 0.3882352941);
  width: 80vw;
  height: auto;
  margin-left: 0% auto;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 12vh;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 1rem;
  padding: 5%;
}
.main alt {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 3%;
}
.main .nav-tabs {
  width: auto;
  height: auto;
  background-color: #fbfbfb;
}
.main .nav-tabs .nav-link {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  flex-direction: row;
  text-align: center;
  background-color: none;
  transition: background-color, color 0s;
}
.main .nav-tabs .nav-link:hover {
  color: orange;
  background-color: #000000;
}

/*INICIO DE ESTILO SECCION ALSIDE__PUBLICIDAD*/
.aside__publicidad {
  grid-area: aside__publicidad;
  background-color: rgba(152, 145, 132, 0.989);
  width: 100vw;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 5vh;
  margin: 0% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.aside__publicidad .img__publicidad {
  margin-top: 0px;
  width: 250px;
  height: 280px;
  border: 1px solid wheat;
  transition: width 1s;
  animation: alternate 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
.aside__publicidad .img__publicidad:hover {
  width: 300px;
}
.aside__publicidad alt {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 3%;
}

/*INICIO DE ESTILO DE SECTION1*/
.section1 {
  grid-area: section1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(152, 145, 132, 0.989);
  text-align: center;
  transition: background-color 2s;
  width: 100vw;
  height: auto;
}
.section1:hover {
  background-color: gray;
}
.section1 p {
  text-align: center;
  color: hsl(217, 100%, 50%);
  background-color: rgb(115, 115, 115);
  font-size: 1rem;
  background-color: aliceblue;
  width: auto;
  padding: 1rem;
  height: auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.ubicacion {
  width: 50vw;
  height: 50vh;
  margin-bottom: 4vh;
}

/*INICIO DE ESTILO DE SECTION2*/
.section2 {
  grid-area: section2;
  display: inline-block;
  position: relative;
  margin-left: 0 auto;
  top: 0%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: auto;
  width: 100vw;
  background-color: rgba(152, 145, 132, 0.989);
}
.section2 p {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-top: 1vh;
  background-color: rgb(194, 194, 194);
  border-top: 5px solid whitesmoke;
  border-right: 3px solid whitesmoke;
  height: auto;
  width: 100%;
  margin-bottom: 0%;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-style: bold;
  font: 1rem;
}

.canales {
  background-color: rgb(237, 237, 237);
  height: -moz-min-content;
  height: min-content;
  padding: 1%;
  transition: padding 2s;
}
.canales:hover {
  padding: 2%;
}
.canales img {
  height: 4rem;
  width: 4rem;
  padding: 0.1rem;
  margin: 1%;
}
.canales img:hover {
  transform: scale(1.4);
}

/*INICIO DE ESTILO DE SECTION3*/
.section3 {
  grid-area: section3;
  background-color: none(93, 92, 94);
  height: -moz-min-content;
  height: min-content;
  width: 100vw;
  background-color: rgba(152, 145, 132, 0.398);
}
.section3 .btn-wp {
  position: fixed;
  bottom: 5%;
  right: 0%;
  width: 10vw;
  height: 10vh;
  border-radius: 500px;
  z-index: 1;
}
.section3 .btn-wp img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: padding 2s;
}
.section3 .btn-wp img:hover {
  transform: scale(1.05);
  padding: 3%;
}

.section3 .btn__subir {
  width: 100px;
  height: -moz-min-content;
  height: min-content;
  text-align: center;
  margin: 0% auto;
  position: fixed;
  bottom: 18vh;
  right: 3vw;
}
.section3 .btn__subir a {
  color: aqua;
  background: fuchsia;
  width: auto;
  padding: 5%;
  text-decoration: none;
  border-radius: 50px;
  border: 5px rgb(230, 230, 230) double;
  z-index: 1;
}

.section3 .btn__subir__hombres {
  width: 100px;
  height: -moz-min-content;
  height: min-content;
  text-align: center;
  margin: 0% auto;
  position: fixed;
  bottom: 18vh;
  right: 3vw;
}
.section3 .btn__subir__hombres a {
  color: rgb(247, 255, 255);
  background: rgb(0, 0, 0);
  width: auto;
  padding: 5%;
  text-decoration: none;
  border-radius: 50px;
  border: 5px rgb(230, 230, 230) double;
  z-index: 1;
}

/*INICIO DE ESTILO DE FOOTER*/
.footer__propio {
  grid-area: footer__propio;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  margin-left: 0% auto;
  width: 100vw;
  height: auto;
  background-color: rgba(152, 145, 132, 0.398);
}
.footer__propio .footer__contenido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background-color: #000000;
  margin-left: 0% auto;
  padding: 5%;
  position: relative;
  left: 0%;
  bottom: 0vh;
}
.footer__propio .footer__contenido p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(243, 242, 242);
  font-size: 1rem;
  transition: color, background-color, border-bottom, border-left, padding 2s;
}
.footer__propio .footer__contenido p:hover {
  background-color: aliceblue;
  border-radius: 0;
  border-left: 10px;
  border-bottom: 6px;
  padding: 2%;
  color: black;
}
.footer__propio .footer__contenido p a {
  color: rgb(0, 149, 255);
  font: bold;
}
.footer__propio .footer__contenido p a:hover {
  color: whitesmoke;
  background-color: rgb(2, 0, 0);
  transform: scale(1.2);
}

.footer__propio alt {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 3%;
}

.formulario__registro {
  background-color: orange(212, 255, 0) !important;
  border-left: 3px solid orange;
  border-bottom: 5px solid orange;
  border-top: 1.5px solid orange;
  border-right: 0.5px solid orange;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: -moz-max-content;
  height: max-content;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 2px;
  color: white;
  font-size: 1rem;
}
.formulario__registro .form__text {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 2vw 2vh;
}
.formulario__registro .form__text a {
  background-color: black;
  color: rgb(250, 162, 0);
  text-align: center;
  text-decoration: none;
  padding: 1vw 2vh;
  margin-top: 1vh;
}
.formulario__registro .form__text a:hover {
  color: azure;
}
.formulario__registro .form__text .form__title {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  color: beige;
  background-color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  margin-left: 0px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.formulario__registro .formulario__contenido {
  padding: 1vw 1vh;
  border-radius: 5px;
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1vh;
}
.formulario__registro .formulario__contenido .formulario__contenido__inputs {
  background-color: rgb(246, 246, 246);
  text-align: center;
  color: white;
  width: -moz-min-content;
  width: min-content;
  height: auto;
  border: 1px solid rgba(152, 145, 132, 0.768);
  border-radius: none;
  padding: 10px;
  margin: 10px;
}

.formulario__registro alt {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 3%;
}

.formulario__iniciar__sesion {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(243, 240, 234);
  border-radius: 5px;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  margin-bottom: 10vh;
  margin-top: 10vh;
  border-left: 3px solid orange;
  border-bottom: 5px solid orange;
  border-top: 1.5px solid orange;
  border-right: 0.5px solid orange;
  border-radius: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.form__group {
  margin-bottom: 20px;
  color: black;
  padding: 2%;
}

label {
  color: black;
  display: block;
  margin-bottom: 5px;
}

input[type=email],
input[type=password] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #eaa401;
}

p {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: black;
  padding: 3%;
  margin: 5px;
}
p .link {
  color: #9d4caf;
  padding: 20px;
}
p .link:hover {
  color: #eaa401;
}

.formulario__iniciar__sesion alt {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 3%;
}/*# sourceMappingURL=sass.css.map */