  body {
      background-color: #d1d5da;
    }

    .error-container {
      text-align: center;
      margin-top: 10%;
    }

    .error-heading {
      font-size: 4rem;
      color: #dc3545;
      font-weight: bold;
    }

    .error-message {
      font-size: 2rem;
      color: #555;
    }