.contenedor__p{
          margin: 0%;
          padding: 0%;  
          width: 100vw;
          height: 100vh;
          background-color: black;
          
         }
.form-container {
      margin-top: 10vh;
      margin-bottom: 10vh;
      position: relative;
      left: 35vw;
      top: 0%; 
      background-color: #FFFFFF;
      border-radius: 5px;
      padding: 20px;
      width: 80%;
      max-width: 400px;
      height: auto;
      text-align: center;
      box-shadow: 0 0 10px rgba(189, 4, 4, 0.805);
    
      transition: all 5s;
      &:hover{
        background-color: #ffffff7e;;
      }
          h2 {
                margin-top: 0;
                color: #333333;
            .form-container p {
                            color: #777777;}
            }
          }
                          
                  .form-container input[type="text"],
                  .form-container input[type="email"],
                  .form-container input[type="password"],
                  .form-container select {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 15px;
                    border: none;
                    border-radius: 3px;
                    background-color: #F4F4F4;
                    color: #050505;
                    transition: all 2s;
                    &:hover{
                      background-color: #8e8e8e;
                      color: #f9fdff;

                    }
                     .form-container button[type="submit"] {
                        background-color: #1278bd;
                        color: #FFFFFF;
                        padding: 20px 20px;
                        border: none;
                        border-radius: 3px;
                        cursor: pointer;
                      }
                    }
              
.contenedor__p{
  .logo__img_ {
        background-color: none; 
        width:auto !important;
        height: auto !important;
        margin-left: 0% auto !important;
        padding: 0% !important;
        margin-top: 10px;
        position: absolute !important;
        top: 0px;
        left:2px !important;  
        z-index: 1 !important;
        margin-bottom: 1vh !important;

            img{
                border: 1px solid black !important;
                background-color: black;
                border-radius: 50px !important;
                width: 70px!important;
                height: 70px !important;
                z-index: 1 !important;
                animation-duration: 10s;
                animation-name: aparecer;
                animation-iteration-count: infinite;
                &:hover{
                  transform: scale(1.01) !important;
                  border-color: orange !important;
                  
                }           
              }
            }
          }