.main__galeria__hombres{
      background-image: url(../img/cielo.jpg.jpg) !important;
       padding: 0%; 
       margin-left: 0px auto ;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       height: auto;
       width: 100vw;
       background:none;
        h2{
          color: wheat;
          font-size: medium;
          font-family: fantasy;
          font-size: 5rem;
        }
        
       .galeria__card{
    
            text-align: center;
            margin: 0px auto;
            padding:auto;
            margin-top: 10px;
            align-items:center;
            justify-content:center;
            width: auto;
            height: min-content;

      }
        
        img{
          margin: 0px auto;
          width: 300px;
          height: 400px;
          border: 2px solid white;
          transition: all 1s;
               &:hover{
                    transform: translateY(50deg);
                    transform: scale(1.01);
                    width: 350px;
                    height: 480px;
                    
               }
        }
          .card__contenido{
            margin: 0% auto;
            height: auto;
            width: auto;
              h5 {
                color: rgb(255, 141, 141); 
                padding: 0vw;
                font-size: 1rem;
                text-align: center;
                margin: 1%;
            }
            .card__text{
                font-size: auto;
                color: rgb(0, 0, 0) ;
                background-color: aliceblue;
                border-bottom: 5px solid #8e8e8e;
                border-left: 3px solid #8e8e8e;
                border-radius: 20px;
                padding: 1%;
                text-align: center;
                margin: 0 auto;
                width: 50%;
                margin-bottom: 1vh;
                margin-top: 1vh;  

            }
            .card__precio{
             
              width: auto;
              background-color: rgb(253, 253, 253);
              border-bottom: 5px solid #8e8e8e;
              border-left: 3px solid #8e8e8e;
              border-radius: 20px;
              width: 50%;
              margin: 0 auto;
              text-align: center;
              color: rgb(8, 8, 8);
              margin-bottom: 2vh;
              border-top: 2vh;
              font-size: bold;
              
            }
          }
        }
        .title__secciones__internas{
                          color: rgb(15, 15, 15);
                          background-color: rgb(0, 255, 68);
                          width: 100%;
                          text-align: center;
                          padding:2%;
                          margin-bottom: 5vh;
                          margin-top: 5vh;
                        }
        