.main { 
  grid-area: main;
  background-color:$backgroundPrincipales;
  margin-left: 0% auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  //  carrusel
          .carrusel__propio__hombres{
                  margin-top: 10vh;
                  margin-bottom: 10vh;
                  height: auto;
                  width: 100vw;
                  background-color: rgba(129, 125, 120, 0.47);
                  display: flex;  
                  flex-direction: column;
                  justify-items: center;
                  justify-content: center;
                  align-items: center; 
                }
                  .imagenes__carrusel__hombres{
                    img{
                      height: 400px;
                      width: 400px;    
                      margin-left: 0% auto;
                      .carrusel__propio__contenido__hombres {
                          height: auto;
                          width: 100vw;
                          text-align: center;
                          margin-left: 0vw;
                      }
                     }
                    }
                              .descripcion__carrusel__hombres{
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                justify-content: center;
                                align-items: center;
                                height: auto;
                                width: auto;
                                  .title__carrusel__hombres{
                                    color: orange;
                                    background-color: rgba(7, 7, 7, 0.454);
                                    width: max-content;
                                    padding: 1%;
                                    margin-left:0% auto;
                                    position: relative;
                                    top: 0vh;
                                  }
                                      .text__carrusel__hombres{
                                          color: orange;
                                          background-color: rgba(7, 7, 7, 0.454);
                                          width: max-content;
                                          padding: 1%;
                                          margin-left:0% auto;
                                          position: relative;
                                          bottom:0vh; 
                                        }
                                  }
                                    .title__ofertas{
                                      color: rgb(0, 0, 0);
                                      margin-left: 0 auto;
                                      text-align: center;
                                      width: 100vw;
                                      padding: 5%;
                                      background-color: rgb(255, 255, 255);
                                      font: 1rem;
                                      margin-top: 10vh;
                                      margin-bottom: 10vh;
                                      
                                    }
                                        .cuenta{
                                         display: inline-block;
                                          text-align: center;
                                          justify-content: center;
                                          justify-items: center;
                                          width: 99vw;
                                          height:auto;
                                          margin-left: 0% auto;
                                          background-color: #8d8989;
                                          padding: 5%;
                                          margin-top: 5vh;
                                          margin-bottom: 0vh;  
                                           .crear__cuenta__text{
                                            color: rgb(0, 0, 0);
                                            background-color: #ffa600bf;
                                            font-size: 1.1rem;
                                            font-family: 'Times New Roman', Times, serif;
                                            padding: 10px;
                                            margin-left: 0% auto; 
                                            margin-bottom: 10px;
                                            position: relative;
                                           }
                                          }
                                          a{
                                            padding: 2%;
                                            color: rgb(243, 245, 241);
                                            background-color: black;
                                            text-decoration: none;
                                            text-align: center;
                                            width: max-content;
                                            height: auto;
                                            border-radius: 10px;
                                            color: rgb(254, 255, 255);
                                            text-align: center;
                                            margin:0 auto ;
                                            margin-bottom: 50px;
                                          }
                                          .crear__cuenta__link,
                                          .iniciar__seccion__link {
                                            display: inline-block;
                                            margin: 10px; 
                                            text-decoration: none;
                                            text-align: center;
                                            border-radius: 10px;
                                            color: rgb(237, 235, 235);
                                            &:hover{
                                              color:orange;
                                            }
                                          }
                                          .main__galeria{
                                            margin:0px auto ;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            flex-wrap: wrap;
                                            height: auto;
                                            width: 100vw;
                                            background:none;
                                              .title__secciones__internas{
                                                margin-top: 5vh;
                                                margin-bottom: 5vh;
                                                color: #ffa500;
                                                text-align: center;
                                                background-color: #100f0f;
                                                font-size: medium;
                                                font-family:'Times New Roman', Times, serif;
                                                font-size: 1.2rem;
                                                width: 100vw;
                                                height: auto;
                                                padding: 3%;
                                                margin-left: 0 auto;
                                          } 
                                                .galeria__card{
                                                    text-align: center;
                                                    margin: 0px auto;
                                                    padding:auto;
                                                    margin-top: 10px;
                                                    align-items:center;
                                                    justify-content:center;
                                                    width: auto;
                                                    height: auto;
                                        }
                                                      img{
                                                      margin: 0px auto;
                                                      width: 320px;
                                                      height:320px;
                                                      padding: auto;
                                                      border-left: 3px gray solid;
                                                      border-bottom: 5px gray solid;
                                                      border-radius: 50px;
                                                      transition: border 0s;
                                                          &:hover{
                                                                border-color: orange;
                                                    }
                                          }
                                                    .card__contenido{
                                                      margin: 0% auto;
                                                      height: auto;
                                                      width: auto;
                                                        .tittle_card{
                                                          color: rgb(255, 255, 255);
                                                          background-color: #0000002d;
                                                          border-radius: 50px; 
                                                          width: 100px;
                                                          padding: 0vw;
                                                          font-size: 1rem;
                                                          text-align: center;
                                                          margin-top: 2vh;
                                                          
                                              }
                                                          .card__text{
                                                              font-size: auto;
                                                              color: rgb(0, 0, 0) ;
                                                              background-color: aliceblue;
                                                              border-bottom: 5px solid #8e8e8e;
                                                              border-left: 3px solid #8e8e8e;
                                                              border-radius: 20px;
                                                              padding: 1%;
                                                              text-align: center;
                                                              margin: 0 auto;
                                                              width: 50%;
                                                              margin-bottom: 1vh;
                                                              margin-top: 1vh;  
                                              }
                                                              .card__precio{  
                                                                width: auto;
                                                                background-color: rgb(253, 253, 253);
                                                                border-bottom: 5px solid #8e8e8e;
                                                                border-left: 3px solid #8e8e8e;
                                                                border-radius: 20px;
                                                                width: 50%;
                                                                margin: 0 auto;
                                                                text-align: center;
                                                                color: rgb(8, 8, 8);
                                                                margin-bottom: 2vh;
                                                                border-top: 2vh;
                                                                font-size: bold;
                                                              }
                                                            }
                                                          }   
                                                            .introduccion__registro {
                                                              background-color:$backgroundSecundarios;
                                                              .tittle__introduccion{ 
                                                                  margin-top: 10vh;
                                                                  text-align: center;
                                                                  color: orange;
                                                                  background-color: #1a1717;
                                                                  width: max-content;
                                                                  margin-left: 1% ;
                                                                  font-size: medium;
                                                                  font-family: 'Times New Roman', Times, serif;
                                                                  font-style: italic;
                                                                  font-size: 1.5rem;
                                                                  padding: 5px;
                                                                } 
                                                                p {
                                                                      color: #fff4f4;
                                                                      text-align: justify;
                                                                      margin: 5vh;
                                                                      padding: 3%;
                                                                      font-family: Georgia, 'Times New Roman', Times, serif;
                                                                      background-color:black;
                                                                } 
                                                            }
                                                              .subtittle__nosotros{
                                                                  color: #000000;
                                                                  background-color: #cd383863;
                                                                  width: 80vw;
                                                                  height: auto;
                                                                  margin-left: 0% auto;
                                                                  text-align: center;
                                                                  margin-top: 10vh;
                                                                  margin-bottom: 12vh;
                                                                  font-family: 'Times New Roman', Times, serif;
                                                                  font-style: normal;
                                                                  font-size: 1rem;
                                                                  padding: 5%;
                                      }
                                                                  alt{
                                                                    color: aliceblue;
                                                                    background-color: rgb(0, 0, 0);
                                                                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                                                    padding: 3%;
                                                                    }
                                                                    .nav-tabs{
                                                                      width: auto;
                                                                      height: auto;
                                                                      background-color: #fbfbfb;
                                                                      .nav-link{
                                                                        color: rgb(0, 0, 0);
                                                                        font-size: 1rem;
                                                                        flex-direction: row;
                                                                        text-align:center;
                                                                        background-color: none;
                                                                        transition: background-color , color 0s;
                                                                        &:hover{
                                                                          color: orange;
                                                                          background-color: #000000;
                                                                        }
                                                                      }
                                                                    }
  }
