.main { 
  grid-area: main;
  background-image: url(../img/fondo-galeria.jpg)!important;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0% auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  //  carrusel
    .carrusel__propio{
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: auto;
    width: 100vw;
    background-image: url(../img/detailed_hand_painted_pink_watercolour_background_0509.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:center;
    display: flex;  
    justify-items: center;
    justify-content: center;
    align-items: center;    
}
    .imagenes__carrusel img{
        height: 80vh;
        width: 30vw;    
        
    }
    .carrusel__propio__contenido {
        height: auto;
        width: auto;
        .descripcion__carrusel{
                .title__carrusel{
                                    color: rgb(0, 0, 0);
                                    background-color: rgba(240, 248, 255, 0.381);
                                    width: max-content;
                                    padding: 1%;
                                    margin-left:0% auto;
                                    border-radius: 50px;
                                    background-image: url(../img/5607231.jpg);
                }
                .descripcion__carrusel{
                                    color: rgb(0, 0, 0);
                                    background-color: rgba(240, 248, 255, 0.381);
                                    width: max-content;
                                    padding: 1%;
                                    margin-left:0% auto;
                                    border-radius: 50px;
                                    background-image: url(../img/5607231.jpg);
                }
              }
            }
          }

          
        .title__ofertas{
          color: rgb(255, 255, 255);
          margin-left: 0 auto;
          text-align: center;
          width: 100vw;
          padding: 5%;
          background-color: rgba(255, 0, 0, 0.461);
          font: 1rem;
          margin-top: 10vh;
          margin-bottom: 10vh;
          
        }
            .cuenta{
              display: flex;
              flex-direction: column;
              justify-content: center;
              justify-items: center;
              text-align: center;
              width: auto;
              height: auto;
              margin-left: 0% auto;
              background-color: #fbfbfb;
              padding: 5%;
              margin-top: 5vh;
              margin-bottom: 5vh;  
              a{
                padding: 2%;
                color: greenyellow;
                background-color: black;
                text-decoration: none;
                text-align: center;
                width: max-content;
                height: auto;
                border-radius: 10px;
                color: aqua;
                text-align: center;
                margin:0 auto ;
                margin-bottom: 50px;
              }
              .crear__cuenta__link{
                text-align: center;
                color: greenyellow;
                background-color: black;
                text-decoration: none;
                text-align: center;
                width: max-content;
                height: auto;
                border-radius: 10px;
                color: rgb(255, 255, 255);
                
              }
            }
              .crear__cuenta__text{
                color: rgb(0, 0, 0);
                background-color: rgba(255, 0, 0, 0.368);
                font-size: 1.1rem;
                margin-left: 0% auto; 
                margin-bottom: 50px;
              }
                

          
          .main__galeria{
            margin:0px auto ;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: auto;
            width: 100vw;
            background:none;
              .title__secciones__internas{
                margin-top: 5vh;
                margin-bottom: 5vh;
                color: orange;
                text-align: center;
                background-color: #100f0f;
                font-size: medium;
                font-family:'Times New Roman', Times, serif;
                font-size: 1.2rem;
                width: 100vw;
                height: auto;
                padding: 3%;
                margin-left: 0 auto;
              } 
            .galeria__card{
                  text-align: center;
                  margin: 0px auto;
                  padding:auto;
                  margin-top: 10px;
                  align-items:center;
                  justify-content:center;
                  width: auto;
                  height: auto;

            }
              
              img{
                margin: 0px auto;
                width: 280px;
                height: 380px;
                border: 1px solid white;
                transition: height 1s;
                    &:hover{
                          height: 400px;
                          
                    }
              }
                .card__contenido{
                  margin: 0% auto;
                  height: auto;
                  width: auto;
                    .tittle_card{
                      color: rgb(255, 141, 141); 
                      padding: 0vw;
                      font-size: 1rem;
                      text-align: center;
                      margin: 1%;
                      
                  }
                  .card__text{
                      font-size: auto;
                      color: rgb(0, 0, 0) ;
                      background-color: aliceblue;
                      border-bottom: 5px solid #8e8e8e;
                      border-left: 3px solid #8e8e8e;
                      border-radius: 20px;
                      padding: 1%;
                      text-align: center;
                      margin: 0 auto;
                      width: 50%;
                      margin-bottom: 1vh;
                      margin-top: 1vh;  

                  }
                  .card__precio{
                  
                    width: auto;
                    background-color: rgb(253, 253, 253);
                    border-bottom: 5px solid #8e8e8e;
                    border-left: 3px solid #8e8e8e;
                    border-radius: 20px;
                    width: 50%;
                    margin: 0 auto;
                    text-align: center;
                    color: rgb(8, 8, 8);
                    margin-bottom: 2vh;
                    border-top: 2vh;
                    font-size: bold;
                    
                  }
                }
              }                          
              .main{
                .introduccion__registro {
                  background-color: #00000078;
                  margin-top: 0px;
                  margin-bottom: 20px;
                  h2{
                      color: #fbfbfb;
                    }
                  
                         p {
                          color: #fff4f4;
                          text-align: justify;
                          margin: 5vh;
                          padding: 1%;
                          font-family: Georgia, 'Times New Roman', Times, serif;
                          background-color: #000000;
                    }
                  
                }
              }
              .main{
                .carrusel__propio__hombres{
                  margin-top: 10vh;
                  margin-bottom: 10vh;
                  height: auto;
                  width: 100vw;
                  background-image: url(../img/cielo.jpg.jpg);
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position-x: center;
                  background-position-y:center;
                  display: flex;  
                  justify-items: center;
                  justify-content: center;
                  align-items: center;    
              }
                  .imagenes__carrusel__hombres img{
                      height: 80vh;
                      width: 30vw;    
                      
                  }
                  .carrusel__propio__contenido__hombres {
                      height: auto;
                      width: auto;
                      .descripcion__carrusel{
                              .title__carrusel{
                                    color: rgb(0, 0, 0);
                                    background-color: rgba(240, 248, 255, 0.381);
                                    width: max-content;
                                    padding: 1%;
                                    margin-left:0% auto;
                                    border-radius: 50px;
                                    background-image: url(../img/5607231.jpg);
                }
                .text__carrusel__hombres{
                                    color: rgb(0, 0, 0);
                                    background-color: rgba(240, 248, 255, 0.381);
                                    width: max-content;
                                    padding: 1%;
                                    margin-left:0% auto;
                                    border-radius: 50px;
                                    background-image: url(../img/5607231.jpg);
              }
            }
          }
        }
        .main{
          .subtittle__nosotros{
            color: #000000;
            background-color: #fbfbfb83;
            width: 80vw;
            height: auto;
            margin-left: 0% auto;
            text-align: center;
            margin-top: 10vh;
            margin-bottom: 10vh;
            font-family: 'Times New Roman', Times, serif;
            font-style: normal;
            font-size: 1.2rem;
            padding: 5%;

          }
          
        }
        .main{
            alt{
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3%;
   }
        }