.nav__menu {
    grid-area: nav__menu;  
    background-image: url(../img/cielo.jpg.jpg);   
    background-size: cover;      
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    width: 100vw;
    height:auto;
    padding: 5%;
    margin-left: 0% auto;
    background-color: rgba(245, 245, 245, 0.265);
    transition: background-color, 3s;
          &:hover{
            background-color: rgba(8, 8, 8, 0.265);
          }     
   
          
      nav__ul{
        display: flex;
        flex-direction: row;
        justify-content:center;
        text-align: center;
        align-items: center;
        align-content: center;
        margin-left:0% auto;
        width: min-content;
        height:auto;
        padding:auto;
          nav__li{
            width: min-content;
            height: auto;
            display: flex;
            flex-direction: row;
            font-size: 1rem;
            justify-content:center;
            text-align: center;
            align-items: center;
            align-content: center;    
            }
          }
          .nav__btn{
                    width: auto;
                    height: auto;
                      border: 5px solid rgba(255, 0, 0, 0);
                        .nav__span{
                          color: #fbf5f5;
                          font-size: 1rem;
        }
      }
    }
          .form__nav{
            display: flex;
            flex-direction: row;
            justify-content:center;
            text-align: center;
            align-items: center;
            align-content: center;
            width: min-content;
            margin-left: 0 auto;
            .input__nav{
              
              width: min-content;
              text-align:center;
            }
          }