  /*RESETEO*/
    *{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      
    }
    $colorPrimario: orange(212, 255, 0);
    $colorSecundario: grey;
    $backgroundPrincipales:rgba(152, 145, 132, 0.768);
    $backgroundSecundarios:rgba(152, 145, 132, 0.989);
    $backgroundTerciarios:rgba(152, 145, 132, 0.398);
      /*ESTILOS DE LA SECCION HEADER__CABECERA*/
   @import "_header__cabecera";
  /*ESTILOS DEL GRID*/
    @import "_container__general";
  /*ESTILO DE LA SECCION NAV__MENU*/
     @import "_nav__menu";
  /*INCIO DE ESTILO DE SECCION MAIN*/
      @import "_main";
  /*INICIO DE ESTILO SECCION ALSIDE__PUBLICIDAD*/      
       @import "_aside__publicidad";
  /*INICIO DE ESTILO DE SECTION1*/
        @import "_section1";
  /*INICIO DE ESTILO DE SECTION2*/
         @import "_section2";
  /*INICIO DE ESTILO DE SECTION3*/
          @import "_section3";    
  /*INICIO DE ESTILO DE FOOTER*/
           @import "_footer__propio"; 
// ESTILOS DE LA PAGINA DE CONTACTO
            @import "_formulario__registro";

            @import "_formulario__iniciar__sesion";
            // estilode la pagina 404
            @import "_404"