.barra__internaMujeres {
    background-color: #8e8e8e(169, 169, 169);
    justify-content:end;
    align-items: end;
    background-image: url(../img/mujer-comprando.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center ;
    padding-left:0%;
    padding-right: 0%;    
    padding-top: 0%;
    padding-bottom: 0%;
    border-radius: 1px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 50px auto;
    width: 100vw;
    height: 50%;
    position: relative;
    top: 0%;
    left: 0%;
    .secciones{
        background-color: #f5f5f5;
        margin: 0 auto;
        width: max-content;
        height: auto;
        position: relative;
        top: 20%;
        left: 10%;
    }  
      .seccion{
            display: flex;
            flex-direction: column;
            color: #b300ff;
            text-decoration: none; 
             font-size: 1rem;
             padding: 2vh;
             margin: 1%;
             width: max-content;
             height: auto;
             position: relative;
             top: 0%;
             left: 0%;
             opacity: 100%;
              &:hover{
                    transform: scale(1.01) ;
                    color: #b159fd ;
                    background-color: #010101;
                    width: 100%;
              }                    
     }
}