.main { 
  grid-area: main;
  margin: 0% auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  
    .main__galeria{
       margin:0px auto ;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       height: auto;
       width: 100vw;
       background-image: url(../img/fondo-galeria.jpg);
       background-repeat: no-repeat;
       background-size: cover;
      
       .galeria__card{
    
            text-align: center;
            margin: auto;
            padding:auto;
            margin-top: 10px;
            align-items:center;
            justify-content:center;

      }
        
        img{
          margin: 0% auto;
          width: 320px;
          height: 480px;
          border: 5px solid white;
        }
          .card__contenido{
          
            margin: 0% auto;
            height: auto;
            width: auto;
              h5 {
                color: rgb(255, 141, 141); 
                padding: 0vw;
                font-size: auto;
                text-align: center;
                margin: 1%;
            }
            .card__text{
                font-size: auto;
                color: rgb(0, 0, 0) ;
                background-color: aliceblue;
                border-bottom: 5px solid #8e8e8e;
                border-left: 3px solid #8e8e8e;
                border-radius: 20px;
                padding: 1%;
                text-align: center;
                margin: 0 auto;
                width: 50%;
                margin-bottom: 1vh;
                margin-top: 1vh;  

            }
            .card__precio{
              width:auto;
              width: auto;
              background-color: rgb(253, 253, 253);
              border-bottom: 5px solid #8e8e8e;
              border-left: 3px solid #8e8e8e;
              border-radius: 20px;
              width: 50%;
              margin: 0 auto;
              text-align: center;
              color: rgb(8, 8, 8);
              margin-bottom: 2vh;
              border-top: 2vh;
              font-size: bold;
              
            }
          }
        }
      }