.nav__menu {
    grid-area: nav__menu;           
    position: relative;
    left: 0px;
    top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100vw;
    height:auto;
    margin-left: 0% auto;
    margin-top: 1vh;
    padding: 0;
    margin-bottom: 1vh;
    background-color: rgba(245, 245, 245, 0.265);
    transition: background-color, padding, 3s;
          &:hover{
            background-color: rgba(8, 8, 8, 0.265);
          }

   
    
      ul{
        background:none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0% auto;
        width: 100vw;
        height: min-content;
        
          li{
            background:none;   
            width: 100vw;
            height: auto;
            font-family:'Smokum', cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            text-align: center;
            font-size: auto;
            .seccion__inicio{
              font: bold;
              font-family:'Smokum', cursive;
              color: rgb(27, 171, 187);
              &:hover{
                
                 transform: scale(1.1);
                 border: 1px solid rgb(255, 255, 255);
                 border-top: none;
                 border-right: none;
                 border-radius: 1px;
              }
                 
            }
            .seccion__damas{
              color: rgb(187, 0, 255);
              font: bold;
              font-family:'Smokum', cursive;
              &:hover{
                color: rgb(255, 5, 255);
                transform: scale(1.1);
                border: 1px solid rgb(255, 255, 255);
                 border-top: none;
                 border-right: none;
                 border-radius: 1px;
              }  
            }
            .seccion__caballeros{
              color:rgb(255, 255, 255);
              font: bold;
              font-family:'Smokum', cursive;
              &:hover{
                color: rgb(255, 255, 255);
                transform: scale(1.1);
                border: 1px solid rgb(255, 255, 255);
                 border-top: none;
                 border-right: none;
                 border-radius: 1px;
              }
            }
            .seccion__nosotros{
              font: bold;
              font-family:'Smokum', cursive;
              color:cadetblue;
              &:hover{color: chartreuse;
                transform: scale(1.1);
                border: 1px solid rgb(255, 255, 255);
                 border-top: none;
                 border-right: none;
                 border-radius: 1px;
                 
              } 
            }
                a {
                text-decoration: none;
                padding: 3%;
                margin: 2%;
                width: auto;
                height: auto;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                font-size: auto; 
              
               }
            }
          }
        }