.section3 { 
    grid-area: section3;
    background-color: none(93, 92, 94); 
    height: 100px;
    width: 100vw;
      .btn-wp{
          position: fixed;
          bottom: 5%;
          right: 10%; 
          width: 10vw;
          height:10vh;
          border-radius: 500px;
          z-index: 1;
                img{
                  padding: 2vh 2vw;
                  width: 20vw;
                  height: 15vh;
                  border-radius: 50px;
                              &:hover{
                                transform: scale(1.05);
                               }     
                  }
       }
}