/*RESETEO*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*ESTILOS DE LA SECCION HEADER__CABECERA*/
/*ESTILOS DE LA SECCION HEADER__CABECERA*/
.header__cabecera {
  grid-area: header__cabecera;
  width: 100vw;
  height: 20vh;
  position: relative;
  top: 0%;
  padding: 0px;
  margin-bottom: 10%;
}
.header__cabecera h1 {
  text-align: center;
  position: relative;
  top: 80%;
  right: 0%;
  height: auto;
  width: auto;
  text-align: center;
  font-style: oblique;
  font-family: "Smokum", cursive;
  font-size: 3rem auto;
}
.header__cabecera h1 a {
  color: orange;
  background-color: black;
  border-left: 5px solid orange(255, 255, 96);
  border-bottom: 3px solid orange;
  border-radius: 50px;
  text-decoration: none;
  width: auto;
  height: auto;
}
.header__cabecera h1 a:hover {
  color: chartreuse;
  background: black;
  transform: scale(1.02);
}

/*ESTILOS DEL GRID*/
.container__general {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  gap: 0% 0%;
  grid-auto-flow: row;
  grid-template-areas: "logo__img logo__img logo__img" "header__cabecera header__cabecera header__cabecera" "nav__menu nav__menu nav__menu" "main main main" "alside__publicidad alside__publicidad alside__publicidad" "section1 section2 section3" "footer footer footer";
}

.container__general {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  width: 100vw;
  height: 100vh;
}

/*ESTILOS DE SECCION LOGO*/
.logo__img {
  grid-area: logo__img !important;
  width: 100vw !important;
  height: 3vh !important;
  margin: 0% !important;
  padding: 0% !important;
  position: absolute !important;
  left: auto !important;
  z-index: 1 !important;
}
.logo__img img {
  border: 1px solid black !important;
  border-radius: 50px !important;
  width: 20vw !important;
  height: 12vh !important;
  margin-top: 10px !important;
  margin-left: 50px !important;
  z-index: 1 !important;
}
.logo__img img:hover {
  transform: scale(1.01) !important;
  border-color: orange !important;
}

/*ESTILO DE LA SECCION NAV__MENU*/
.nav__menu {
  grid-area: nav__menu;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100vw;
  height: 20vh;
  margin: 0% auto;
}
.nav__menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin: 0% auto;
  width: 100vw;
  background-color: rgb(255, 5, 5);
}
.nav__menu ul li {
  background-color: aliceblue;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
}
.nav__menu ul li .seccion__inicio {
  color: orange;
}
.nav__menu ul li .seccion__inicio:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  border: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-right: none;
  border-radius: 1px;
  background-color: rgb(66, 64, 64);
}
.nav__menu ul li .seccion__damas {
  color: orange;
}
.nav__menu ul li .seccion__damas:hover {
  color: rgb(255, 5, 255);
  transform: scale(1.1);
  border: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-right: none;
  border-radius: 1px;
  background-color: rgb(66, 64, 64);
}
.nav__menu ul li .seccion__caballeros {
  color: orange;
}
.nav__menu ul li .seccion__caballeros:hover {
  color: rgb(121, 113, 113);
  transform: scale(1.1);
  border: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-right: none;
  border-radius: 1px;
  background-color: rgb(66, 64, 64);
}
.nav__menu ul li .seccion__nosotros {
  color: orange;
}
.nav__menu ul li .seccion__nosotros:hover {
  color: chartreuse;
  transform: scale(1.1);
  border: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-right: none;
  border-radius: 1px;
  background-color: rgb(66, 64, 64);
}
.nav__menu ul li a {
  text-decoration: none;
  padding: 3%;
  margin: 2%;
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: auto;
}

/*INCIO DE ESTILO DE SECCION MAIN*/
.main {
  grid-area: main;
  margin: 0% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
}
.main .main__galeria {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100vw;
  background-image: url(../img/fondo-galeria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .main__galeria .galeria__card {
  text-align: center;
  margin: auto;
  padding: auto;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.main .main__galeria img {
  margin: 0% auto;
  width: 320px;
  height: 480px;
  border: 5px solid white;
}
.main .main__galeria .card__contenido {
  margin: 0% auto;
  height: auto;
  width: auto;
}
.main .main__galeria .card__contenido h5 {
  color: rgb(255, 141, 141);
  padding: 0vw;
  font-size: auto;
  text-align: center;
  margin: 1%;
}
.main .main__galeria .card__contenido .card__text {
  font-size: auto;
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  border-bottom: 5px solid #8e8e8e;
  border-left: 3px solid #8e8e8e;
  border-radius: 20px;
  padding: 1%;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.main .main__galeria .card__contenido .card__precio {
  width: auto;
  width: auto;
  background-color: rgb(253, 253, 253);
  border-bottom: 5px solid #8e8e8e;
  border-left: 3px solid #8e8e8e;
  border-radius: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: rgb(8, 8, 8);
  margin-bottom: 2vh;
  border-top: 2vh;
  font-size: bold;
}

/*INICIO DE ESTILO SECCION ALSIDE__PUBLICIDAD*/
.alside__publicidad {
  grid-area: alside__publicidad;
  width: 100vw;
  height: auto;
  margin: 0% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.alside__publicidad .img__publicidad {
  margin-top: 50px;
  width: 320px;
  height: 480px;
  border: 1px solid wheat;
}

/*INICIO DE ESTILO DE SECTION1*/
.section1 {
  grid-area: section1;
  margin-top: 10%;
  margin: 0% auto;
  height: 100vh;
  width: 100vw;
}
.section1 p {
  margin-top: 20vh;
  color: red;
  text-align: center;
  font-size: 1rem;
}

.ubicacion {
  margin-top: 1vh;
  width: 60vw;
  height: 40vh;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20vw;
  background-color: aliceblue;
}

/*INICIO DE ESTILO DE SECTION2*/
.section2 {
  grid-area: section2;
  display: inline-block;
  position: relative;
  top: 0%;
  left: 0%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.section2 p {
  color: rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(194, 194, 194);
  border-top: 5px solid whitesmoke;
  border-right: 3px solid whitesmoke;
  height: auto;
  width: auto;
}

.canales {
  background-color: rgb(237, 237, 237);
  height: -moz-max-content;
  height: max-content;
  padding: 1%;
}
.canales img {
  height: 4rem;
  width: 4rem;
  padding: 0.1rem;
  margin: 1%;
}
.canales img:hover {
  transform: scale(1.3);
}

/*INICIO DE ESTILO DE SECTION3*/
.section3 {
  grid-area: section3;
  background-color: none(93, 92, 94);
  height: 100px;
  width: 100vw;
}
.section3 .btn-wp {
  position: fixed;
  bottom: 5%;
  right: 10%;
  width: 10vw;
  height: 10vh;
  border-radius: 500px;
  z-index: 1;
}
.section3 .btn-wp img {
  padding: 2vh 2vw;
  width: 20vw;
  height: 15vh;
  border-radius: 50px;
}
.section3 .btn-wp img:hover {
  transform: scale(1.05);
}

/*INICIO DE ESTILO DE FOOTER*/
.footer {
  grid-area: footer;
  position: relative;
  top: 0%;
  height: 100vh !important;
  width: 100vw !important;
  background-image: url(../img/fondo-galeria.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: auto !important;
  background-position-x: 40% !important;
  background-position-y: 95% !important;
}
.footer .footer__contenido {
  position: relative;
  left: 0% auto;
  top: 30vh;
  align-items: center !important;
  margin: 0% auto !important;
  display: inline-block !important;
  width: 100vw !important;
  height: 15vh !important;
  text-align: center !important;
}
.footer .footer__contenido p {
  width: auto !important;
  height: auto !important;
  color: rgb(0, 0, 0) !important;
  background-color: azure !important;
  padding: 2% !important;
  border-radius: 50px !important;
  border-bottom: 3px solid red !important;
  border-left: 5px solid red !important;
  margin-left: 10vw;
  margin-right: 10vw;
}
.footer .footer__contenido p a {
  color: red !important;
  font: bold !important;
  margin: 1% !important;
  background-color: whitesmoke !important;
}
.footer .footer__contenido p a:hover {
  color: whitesmoke !important;
  background-color: rgb(2, 0, 0) !important;
  transform: scale(1.2) !important;
}

/*ESTILO DE PAGINA 1*/
/*SE UTILIZA BOOSTRAP*/
/*INCIO DE CONTENEDOR__P1*/
/*

ESTILOS DE LA SECCION HEADER__CABECERA


*/
.navMenu_mujer {
  background-color: #fc00ff !important;
  color: #fafafa !important;
  width: 100vw;
  height: auto;
  padding: 10vh;
  margin: 0 auto;
}
.navMenu_mujer .nav__Mujer__btn {
  width: auto;
  height: auto;
  border: 5px solid rgba(255, 0, 0, 0);
}
.navMenu_mujer .nav__Mujer__btn .nav__Mujer__span {
  color: #fbf5f5;
  font-size: 1rem;
}
.navMenu_mujer .nav__Mujer__btn .nav__Mujer__span .nav-item {
  text-align: justify;
  margin: auto;
  padding: 10%;
  color: rgb(4, 4, 4);
  width: 100%;
  height: 50%;
}
.navMenu_mujer .nav__Mujer__btn .nav__Mujer__span .nav-item .nav-item a {
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navMenu_mujer .nav__Mujer__btn .nav__Mujer__span .nav-item .nav-item a:a:hover {
  font-family: "Times New Roman", Times, serif;
  color: azure;
  background-color: black;
}

.barra__interna_mujeres {
  background-color: #8e8e8e 169, 169, 169;
  justify-content: end;
  align-items: end;
  background-image: url(../img/mujer-comprando.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  border-radius: 1px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 50px auto;
  width: 100vw;
  height: 50%;
  position: relative;
  top: 0%;
  left: 0%;
}
.barra__interna_mujeres .secciones {
  background-color: #f5f5f5;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  position: relative;
  top: 20%;
  left: 10%;
}
.barra__interna_mujeres .seccion {
  display: flex;
  flex-direction: column;
  color: #b300ff;
  text-decoration: none;
  font-size: 1rem;
  padding: 2vh;
  margin: 1%;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  position: relative;
  top: 0%;
  left: 0%;
  opacity: 100%;
}
.barra__interna_mujeres .seccion:hover {
  transform: scale(1.01);
  color: #b159fd;
  background-color: #010101;
  width: 100%;
}

#carouselExampleCaptions {
  background-color: rgb(255, 8, 230);
  border: 0.1px solid rgb(7, 8, 8);
  width: 100vw;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  left: 0%;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.card {
  height: 100%;
  width: auto;
}
.card img {
  height: 60%;
  width: auto;
}

.pie {
  background-color: hsl(0, 0%, 100%) !important;
  color: rgb(0, 0, 0) !important;
  text-align: center !important;
  font-size: 1.1rem;
}
.pie a {
  color: #fd0808 !important;
  background-color: #ddd !important;
}
.pie a:hover {
  color: white !important;
  background-color: Red !important;
}

.imagenesCarrusel img {
  width: 100vw;
  height: 50%;
}
.imagenesCarrusel img h5 {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3725490196);
  margin-left: 45%;
  margin-right: 45%;
}
.imagenesCarrusel img h5 p {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3725490196);
  margin-left: 40%;
  margin-right: 40%;
}/*# sourceMappingURL=sass.css.map */