  /*RESETEO*/
    *{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }

  /*ESTILOS DE LA SECCION HEADER__CABECERA*/
      @import "_header__cabecera";
  /*ESTILOS DEL GRID*/
        @import "_container__general";
  /*ESTILOS DE SECCION LOGO*/
          @import "_logo__img";
  /*ESTILO DE LA SECCION NAV__MENU*/
            @import "_nav__menu";
  /*INCIO DE ESTILO DE SECCION MAIN*/
              @import "_main";
  /*INICIO DE ESTILO SECCION ALSIDE__PUBLICIDAD*/      
                @import "_alside__publicidad";
  /*INICIO DE ESTILO DE SECTION1*/
                  @import "_section1";
  /*INICIO DE ESTILO DE SECTION2*/
                    @import "_section2";
  /*INICIO DE ESTILO DE SECTION3*/
                      @import "_section3";    
  /*INICIO DE ESTILO DE FOOTER*/
                        @import "_footer__propio";
                        
                       /*ESTILO DE PAGINA 1 (SECCION DAMAS)*/
                       
  /*SE UTILIZA BOOSTRAP*/
  /*INCIO DE CONTENEDOR__P1*/
                         @import "_contenedor__p";
    /*SE REPITE LOGO__IMG*/
    /*SE REPITE HEADER__CABECERA*/
    /*INICIO DE navMenu_mujer*/
                            @import "_navMenu_mujer";
    /*INICIO DE barra__internaMujeres*/
                              @import "_barra__interna__mujeres";
    /*CARRUSEL*/
                                @import "_carrusel__propio";
    /*INICIO DE MAIN*/
                                  @import "_main__galeria__mujer";
    /*INICIO DE SECTION3
    SE REPITE
    INICIO DE FOOTER
    SE REPITE
    ESTILOS PAGINA1 (SECCION DAMAS
                    INCIO DE ESTILOS DE LA PAGINA 2(SECCION CABALLEROS
   INICIO DE ESTILO CONTENEDOR GENERAL
   SE REPITE contenedor__p1
   INICIO DE ESTILO DE LOGO_IMG
   SE REPITE logo__img
   INCIO DE CABECERA 
   SE REPITE header__cabecera
   INICIO DE navMenu*/
   @import "_nav__menu__hombres";
  /*INICIO DE barra interna de hombres*/
    @import "_barra__interna__hombres"; 
  /*MIAN DE HOMBRES*/
    @import "_main__galeria__hombres";  